/* SocialMediaSidebar.css */
.sidebar {
    position: fixed;
    top: 90%;
    left: 0;
    transform: translateY(-50%);
    width: 60px;
    background-color: #333;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  
  .social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media-list li {
    margin-bottom: 10px;
  }
  
  .social-media-list li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .social-media-list li a:hover {
    color: #55acee; /* Change color on hover, e.g., Twitter blue */
  }
  